.car-list-item{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin-bottom: 4px;
  padding: 4px;
  width: 250px;
  border-radius: 8px;
}

.selected{
  border-color: rgb(255, 179, 0);
  border-width: 2px;
}
